.button__container {
    display: flex;
    justify-content: center;
}

.todo__button {
    margin: 20px 0;
    font-size: 35px;
    background-color: #f2db0a;
    color: #041b54;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}