.todo__title {
    font-size: 40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.todo__counter {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    color: white;
    opacity: 0.6;
}

.task__icon {
    width: 40px;
    margin-left: 10px;
}