.search__input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search__input--field::focus {
    outline: none;
}

.search__input--field::placeholder {
    color: white;
    opacity: 0.6;
}

.search__input--field {
    width: 280px;
    padding: 15px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #02133d;
    color: white;
    -webkit-box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.2);
}